.formulario-wrapper{
  display: flex;
  flex-direction: column;
}

.formulario-div{
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 10px;
  background: rgba(81, 90, 90, 0.5);
}

.titulo{
  padding: 5px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.campos-form{
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%
}

.label{
  display: block;
  width: 125px;
  font-size: 24px;
  font-weight: bold;
  padding: 6px;
  color: white;
}

.input{
  display: block;
  width: 500px;
  padding: 5px;
  font-size: 15px;
}

.mensaje{
display: flex;
justify-content: center;

}

.mensaje-elements{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  }

.mensaje-label{
  font-size: 22px;
  padding: 5px;
  color: white;
}

.textarea-res{
  width: 100%;
}

.textarea{
width: 100%;
max-height: 15em;
min-height: 8em;
resize: vertical;
overflow: auto;
font-size: 16px;
font-family: arial, sans-serif;
margin-bottom: 2px;
}

.boton-mensaje{
 padding: 5px;
 position:relative;
 display: block;

}

@media only screen and (max-width:548px){

.mensaje-elements{
  width: 90%;
}

.label{
  width: 25%;
  font-size: 16px;
}
.input{
  width: 75%;
  padding: 1px;
}
}
